body {
    margin: 60px auto;
    width: 70%;
    font-family: Sans-Serif;
}
nav ul, footer ul {
    font-family: Sans-Serif;
    padding: 0px;
    padding-left: 10px;
    list-style: none;
    font-weight: lighter;
    font-size: 1.1em;
    line-height: 1.5em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: Sans-Serif;
    font-weight: lighter;
}
p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #333;
    text-align:justify
}
footer {
    border-top: 1px solid #D2B48C;/* (Tan);  #6B8E23 (OliveDrap); #d5d5d5 (subtle grey)*/
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

* {
  box-sizing: border-box;
}

form {
  display: inline-block;
}

figure {
  float: left;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  display: table;
    }

img.scaled {
  width: 100%;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
    display: table-caption;
    caption-side: bottom;
}
